body{
    text-align: center;
    background-color: navajowhite;
}

#boks{
    display: grid;
    grid-template-columns: 2.5fr 1.2fr 1.2fr 1.2fr 2.5fr;
    text-align: center;
    padding: 5%;
}

#startside{
    border: solid;
    border-right: none;
    background-color: white;
}

#fjell{
    border: solid;
    background-color: white;
}

#safari{
    border: solid;
    border-left: none;
    background-color: white;
}

#fjelltopp{
}

#fjell:hover, #safari:hover, #startside:hover {
    cursor: pointer;
    background-color: lightskyblue;
}
#slideshow {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    transition-duration: 1s;
}
#utenpå {
    width: 500px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

#btnV{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: scale(3);
}

#btnH{
    position: absolute;
    top: 50%;
    left: 90%;
    transform: scale(3);
}
#btnH, #btnV {
    color: white;
    cursor: pointer;
    opacity: .6;
    transition: 0.6s;
}
#btnH:hover, #btnV:hover {
    opacity: 1;
    transform: scale(4);
}

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#ark1 {
    width: 100vw;
}
#ark2 {
    width: 100vw;
    background-color: blue;
}
#ark3 {
    width: 100vw;
    background-color: red;
}